<div class="container p-6">
  <div class="columns has-background-white-ter mt3">
    <div class="column">
      <div class="is-size-3 has-text-centered p-3">
        Consultorio del Dr. Verruga Urquieta<br>
        <span class="is-size-5">Sistema Administrador de Citas</span>
      </div>  
    </div>
  </div>
  <div class="is-size-5 mb-5">
    Completa el formulario para agregar una cita:
  </div>
  <%= render "form", appointment: @appointment %>
  <div class="has-text-centered mt-6">
    <%= link_to "Regresar al Calendario", appointments_path %>
  </div>
</div>

